USE [WineStoreDW]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADF_Metadata](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SourceType] [varchar](50) NOT NULL,
	[FolderName] [varchar](50) NOT NULL,
	[FileName] [varchar](500) NOT NULL,
	[Delimiter] [varchar] (1)) NOT NULL,
	[SinkType] [varchar](50) NOT NULL,
	[TableName] [varchar](500) NOT NULL
) ON [PRIMARY]
GO

